version: '3.9'
services:
  haproxy:
      image: 10.5.104.20:5000/haproxy:alpine3.17
      container_name: haproxy
      ports:
        - 80:80
        - 443:443
      volumes:
        - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
