defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

listen stats
  bind *:15000
  balance
  mode http
  stats enable
  stats auth admin:admin

{% for item in haproxy_binds %}
frontend {{ item.name }}
  {% for port in item.bind_ports %}
  bind *:{{ port }}
  {% endfor %}
  mode {{ item.mode }}
  default_backend {{ item.name }}


backend {{ item.name }}
{% for server in item.proxy %}
  server server{{ loop.index }} {{ server }}
{% endfor %}
{% endfor %}
